[user]
	email = gabriel.ms1@hotmail.com
	name = gmsantos
	signingkey = 7A995055AB35EF78
[core]
	editor = vim
[pull]
	rebase = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	gpgsign = true
